@font-face {
    font-family: 'LDFComicSans';
    src: url('LDFComicSans.woff2') format('woff2'),
        url('LDFComicSans.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LDFComicSansBold';
    src: url('LDFComicSansBold.woff2') format('woff2'),
        url('LDFComicSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

